.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 50px;
    color: #f2f2f2;
    flex-direction: column;
    button{
        border: 2.5px solid #6f6f77;
        background-color: #e4e4e4;
        border-radius: 5px;
    }
}